---
import CallToActionBtn from "../../components/CallToActionBtn.astro";
---

<section id="class-cta" class="section-paper">
  <div class="section-content">
    <h2>¿Lista Para Comenzar Tu Transformación?</h2>
    <p>
      Tu salud puede cambiar. Solo necesitas claridad, acompañamiento y tiempo. Y aquí voy a estar para caminar contigo paso a paso. Te haré algunas preguntas para asegurarme de que este programa es el más adecuado para ti.
    </p>
      <CallToActionBtn/>

  </div>
