<section id="faqs" class="section-paper">
  <div class="section-header">
    <h2>Preguntas Frecuentes (FAQs)</h2>
  </div>
  <div class="section-content">
    <div class="faq-item">
      <h3>¿Las consultas pueden ser online?</h3>
      <p>
        Sí, todo el programa puede ser 100% online si así lo deseas, adaptándose
        a tu comodidad y ubicación.
      </p>
    </div>
    <div class="faq-item">
      <h3>¿Incluye exámenes de laboratorio?</h3>
      <p>
        Los estudios se realizan por fuera, pero los reviso y explico a detalle
        dentro del programa para que entiendas cada resultado.
      </p>
    </div>
    <div class="faq-item">
      <h3>¿Puedo pagar en una sola exhibición?</h3>
      <p>
        Sí, el pago del MÉTODO KC12 es único por todo el año, garantizando tu
        acceso completo al programa.
      </p>
    </div>
    <div class="faq-item">
      <h3>¿Incluye plan de alimentación?</h3>
      <p>
        Sí, recibirás un plan personalizado y actualizado según tu evolución y
        preferencias.
      </p>
    </div>
    <div class="faq-item">
      <h3>¿Qué pasa si no puedo seguir un plan al 100%?</h3>
      <p>
        El programa se adapta a ti. Siempre negociamos lo que sí puedes hacer,
        sin juicios y con flexibilidad.
      </p>
    </div>
    <div class="faq-item">
      <h3>¿Qué diferencia a KC12 de una consulta normal?</h3>
      <p>
        La clave es el seguimiento continuo, el acompañamiento, la claridad y el
        tiempo. KC12 es un proceso de transformación, no una consulta aislada.
      </p>
    </div>
  </div>
</section>
<style>
  #faqs .section-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin:1rem 0;
  }
  #faqs .section-content .faq-item p {
    /* margin-left: 1rem; */
    font-style: italic;
  }

  @media (min-width: 768px){
    #faqs .section-content {
    margin:2rem 0;
  }
  }
</style>
