<section id="class-cta" class="section-paper">
  <div class="section-content">
    <h2>Lugares Limitados: Tu Transformación Personalizada</h2>
    <p>
      Para asegurar un seguimiento cercano y la máxima calidad en el
      acompañamiento, el MÉTODO KC12 acepta solo de 10 a 15 pacientes por año.
      Esta exclusividad permite una atención médica verdaderamente
      personalizada, donde cada detalle de tu salud recibe la dedicación que
      merece.
    </p>
    <p>
      Si estás lista para invertir en tu salud y ser parte de un grupo selecto
      que transformará su bienestar, este es tu momento.
    </p>
    <a href="#contact" class="btn-cta">Inscríbete Ahora</a>
    <a href="#contact" class="btn-cta">Envia un mensaje</a>
  </div>
</section>
