---
import HormonasIcon from "/src/assets/icons/regularHomonasIcon.svg";
import MejorarMetabolismoIcon from "/src/assets/icons/mejorarMetabolismo.svg";
import DisminuirInflacionIcon from "/src/assets/icons/disminuirInflamacion.svg";
import SanarDigestionIcon from "/src/assets/icons/sanarDigestion.svg";
import ContralarGlucosaIcon from "/src/assets/icons/controlarGlucosa.svg";
import RecuperarEnergiaIcon from "/src/assets/icons/recuperarEnergia.svg";
import ConstruirHabitosIcon from "/src/assets/icons/habitosSostenibles.svg";
import PerdidaPesoIcon from "/src/assets/icons/perdidaPeso.svg";

---

<section id="metodo-kc12" class="section-paper">
  <div class="section-header">
    <h2>¿Qué es el Método KC12?</h2>
    <p>
      El MÉTODO KC12 es un programa médico anual de Medicina Integrativa
      diseñado para transformar tu salud desde la raíz. Durante 12 meses,
      trabajaré contigo para abordar los factores clave de tu bienestar.
    </p>
  </div>
  <div class="section-content">
    <div class="card-benefit">
      <div class="icon-wrapper">
        <HormonasIcon class="icon" />
      </div>
      <h3>Regular Hormonas</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <MejorarMetabolismoIcon class="icon" />
      </div>
      <h3>Mejorar Metabolismo</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <DisminuirInflacionIcon class="icon" />
      </div>
      <h3>Disminuir Inflamación</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <SanarDigestionIcon class="icon" />
      </div>
      <h3>Sanar Digestión</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <ContralarGlucosaIcon class="icon" />
      </div>
      <h3>Controlar Glucosa</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <RecuperarEnergiaIcon class="icon" />
      </div>
      <h3>Recuperar Energía</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <ConstruirHabitosIcon class="icon" />
      </div>
      <h3>Construir Hábitos Sostenibles</h3>
    </div>
    <div class="card-benefit">
      <div class="icon-wrapper">
        <PerdidaPesoIcon class="icon" />
      </div>
      <h3>Pérdida de Peso Real</h3>
    </div>
  </div>
  <div class="section-footer">
    <p>
      Es un programa para quienes buscan un cambio profundo, real y acompañado,
      sin soluciones rápidas ni efecto rebote.
    </p>
  </div>
</section>

<style>
  #metodo-kc12 .section-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  #metodo-kc12 .card-benefit {
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: var(--card-bg-color);
    border-radius: var(--global-border-radius-sm);
    /* padding: 1rem; */
    box-shadow: var(--card-box-shadow);
    text-align: center;
  }

  #metodo-kc12 .card-benefit h3 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #52586b;

    /* color: var(--global-text-color); */
  }

  #metodo-kc12 .card-benefit .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e2e4e9ff;
    border: 2px solid #c1c4cdff;
    /* margin-bottom: 1rem; */
  }

  #metodo-kc12 .card-benefit .icon {
    width: 50%;
    height: 50%;
    /* color: var(--global-bg-color); */
  }
</style>
