<section id="results" class="section-paper">
    <div class="info">
        <div class="section-header">
            <h2>
                Resultados Reales, Testimonios Sinceros
            </h2>
        </div>
        <div class="section-content">
            <div class="testimonials-grid">
                <div class="testimonial-card">
                    <p class="testimonial-text">“Nadie me había explicado mis laboratorios así. Ahora entiendo qué está pasando y por qué.”</p>
                    <p class="testimonial-author">- Ana G.</p>
                </div>
                <div class="testimonial-card">
                    <p class="testimonial-text">“Con la doctora Kenia no me siento juzgada. Me siento acompañada.”</p>
                    <p class="testimonial-author">- Carlos M.</p>
                </div>
                <div class="testimonial-card">
                    <p class="testimonial-text">“Bajé de peso sin sentirme mal y sin hacer dietas extremas.”</p>
                    <p class="testimonial-author">- Laura S.</p>
                </div>
                <!-- <div class="testimonial-card">
                    <p class="testimonial-text">"Finalmente encontré un método que funciona para mí. Los resultados hablan por sí mismos."</p>
                    <p class="testimonial-author">- Javier R.</p>
                </div> -->
            </div>
        </div>
        <div class="section-footer">
            <p>Estas historias son el reflejo del impacto positivo que el Método KC12 tiene en la vida de mis pacientes. Tu transformación puede ser la siguiente.</p>
        </div>

    </div>
    <!-- <img src="/images/home/results-decorative.png" alt="Decorative Image" class="decorative-image" /> -->
</section>

<style>
  #results .info .section-content .testimonials-grid{
    margin: 1rem 0;
  }
  #results .info .section-content .testimonials-grid .testimonial-card{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: var(--global-border-radius-sm);
    border: 1px groove var(--global-text-color);
  }
  #results .info .section-content .testimonials-grid .testimonial-card .testimonial-author{
   font-style: italic;
  }
</style>
