<section id="results" class="section-paper">
  <div class="info">
    <div class="section-header">
      <h2>Lo Que Incluye el MÉTODO KC12</h2>
      <p>
        Inicia tu transformación anual con un plan excepcional. Tu inversión en
        el Método KC12 es de €6,000 por TODO EL AÑO (en lugar de $12,000, solo
        para 10-15 pacientes).
      </p>
    </div>
    <div class="section-content">
      <ul>
        <li>
          <h3>13 Consultas Médicas</h3>
          <p>
            Una consulta mensual, más una adicional al inicio del programa.
            Evaluación completa, explicaciones claras, ajustes y avance real,
            presenciales u online.
          </p>
        </li>
        <li>
          <h3>Acceso Prioritario</h3>
          <p>
            No esperes semanas. Tu salud es nuestra prioridad, garantizando
            citas sin demora.
          </p>
        </li>
        <li>
          <h3>Seguimiento Quincenal</h3>
          <p>
            Te acompaño por WhatsApp o llamada, respondo dudas y ajusto tu plan
            contigo.
          </p>
        </li>
        <li>
          <h3>Plan Personalizado</h3>
          <p>
            Medicamentos, suplementación y estilo de vida adaptado a tus
            necesidades. Lo negociamos juntas para que sea sostenible.
          </p>
        </li>
        <li>
          <h3>Acceso a la App Nutrimind</h3>
          <p>
            Tu plan siempre disponible: materiales, recordatorios, tareas y
            retroalimentación.
          </p>
        </li>
        <li>
          <h3>Revisión y Explicación de Laboratorios</h3>
          <p>Entenderás lo que tu cuerpo intenta decirte y el plan a seguir.</p>
        </li>
        <li>
          <h3>Acompañamiento Humano y Profesional</h3>
          <p>
            Mi filosofía: "Si fueras mi mamá o mi hija, esto es lo que yo
            haría", con un enfoque sin juicios.
          </p>
        </li>
        <li>
          <h3>Soporte Integral</h3>
          <p>
            Un enfoque médico integrativo que combina ciencia y humanidad para tu bienestar.
          </p>
        </li>
      </ul>
    </div>

  </div>
  <!-- <img src="/images/home/results-decorative.png" alt="Decorative Image" class="decorative-image" /> -->
</section>


<style>
  #results .section-content ul{
    margin:1rem 2rem;
  }
  #results .section-content ul li{
    margin:1rem 0;
  }
</style>
