:root {
  --global-bg-color: #e4e4e4;
  --global-bg-card-color: #ffffff;

  --global-text-color: #1b1b1b;
  --global-border-radius-sm: 8px;
  font: 16px "Funnel Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-paper {
  max-width: 1200px;
  width: 100%;
  /* margin: 1rem; */
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--global-bg-card-color);
  color: var(--global-text-color);
  display: flex;
  flex-direction: column; /* texto arriba, imagen abajo */
  overflow: hidden;
  padding: 1rem;
}

.section-paper .section-header h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.section-paper .section-header p {
  font-size: 1rem;
  line-height: 1.6;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
}
h2 {
  font-size: 1.8rem;
  font-weight: bold;
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
p {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Funnel Sans", sans-serif;
}
